/* Convert font files from TTF to WOFF before launching website */

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Manrope';
    src: url('/assets/fonts/manrope/Manrope-700.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/assets/fonts/satoshi/Satoshi-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/assets/fonts/satoshi/Satoshi-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    background: #FAF3DC;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    background: #FAF3DC;
  }
  
  .nav-left,
  .nav-right {
    display: flex;
    gap: 2rem;
  }
  
  .nav-logo a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
  }

  .nav-logo a:hover {
    color: rgb(254, 45, 45);
  }  
  
  .navbar a {
    text-decoration: none;
    color: #000;
    transition: opacity 0.3s ease;
  }
  
  .nav-left a:hover,
  .nav-right a:hover {
    background: linear-gradient(135deg, #FFCB70 0%, #C751C0 50%, #4158D0 100%);
    /* Option for background color: linear-gradient(135deg, rgb(254, 205, 165) 0%, 
    rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 900px;
    margin-left: 4vw;
    margin-right: auto;
    margin-top: 7rem;
    padding: 0 1rem;
    gap: 2rem 1.5rem;
    font-family: 'Satoshi', sans-serif;
  }
  
  .about-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .about-right {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .about-grid h2 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding-top: 1rem;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
  }
  
  .about-grid p {
    font-size: 1.1rem;
    line-height: 1.0;
    color: #111;
  }
  
  /* Responsive stacking */
  @media (max-width: 768px) {
    .about-grid {
      grid-template-columns: 1fr;
      margin: 2rem auto;
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      gap: 1rem;
    }
  
    .nav-left,
    .nav-right {
      gap: 1.2rem;
    }
  }
  